.money-icon {
  position: fixed;
  top: 40%;
  left: 50%;
  z-index: 3;
  margin: -0.4rem 0 0 -0.4rem;
  width: 0.8rem;
  height: 0.8rem;
}
.money-p {
  position: fixed;
  font-size: 0.1rem;
  color: rgb(151, 151, 144);
  top: 70%;
  left: 50%;
  right: 0;
  bottom: 0;
  transform: translate(-50%, -70%);
}
